.bar {
    float: left
}

span.tab-line {
    display: block
}

.tab-section {
    font-family: courier new;
    font-size: 15px
}

.tab-row {
    padding-bottom: 10px;
}

textarea.terminal {
    background-color: #000 !important;
    border: 1px solid #000;
    color: #00ff00 !important;
    padding: 8px;
    font-family: courier new !important;
}

div.tab-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 10px;
}

a.email-link {
    color: #111 !important;
}
